<form name="signupForm" class="form-horizontal" novalidate (ngSubmit)="save(signupFormControl.form.value)"
  #signupFormControl="ngForm">
  <div class="form-register-container">
    <div class="form-group row">
      <label class="col-2 col-form-label">Username</label>
      <div class="col-10">
        <input required class="form-control" name="username" pattern="^[A-Za-z0-9_]{3,15}$" [ngModel]=" user.username"
          #controllUsername="ngModel" type="text" placeholder="Max_Mustermann" id="username">
      </div>
    </div>
    <div *ngIf="controllUsername.invalid && controllUsername.touched" class="alert alert-danger">
      <div *ngIf=" controllUsername.errors?.required">
        Username field can't be blank. Please enter a username so we can identify you.
      </div>
      <div *ngIf="controllUsername.errors?.pattern && controllUsername.touched">
        The Username doesn't seem right. Please Enter a Username which is between 3 and 15 characters and only
        contains letters, numbers or this speical character _
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input required class="form-control" name="email" [ngModel]="user.email" #controllEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          type="email" placeholder="max@mustermann.com" id="email">
      </div>
    </div>
    <div *ngIf="controllEmail.invalid && controllEmail.touched" class="alert alert-danger">
      <div *ngIf="controllEmail.errors?.required">
        Email field can't be blank
      </div>
      <div *ngIf="controllEmail.errors?.pattern && controllEmail.touched">
        The email id doesn't seem right
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input required minlength="8" reverse="true" validateEqual="confirmPwd" name="pwd" [ngModel]="user.password.pwd"
          #controllPassword="ngModel" class="form-control" type="password" placeholder="MAx1785436ImIlIaN" id="pwd">
      </div>
    </div>
    <div *ngIf="controllPassword.invalid && controllPassword.touched" class="alert alert-danger">
      <div *ngIf="controllPassword.errors?.required">
        The Password field can't be blank.
      </div>
      <div *ngIf="controllPassword.errors?.pattern && controllPassword.touched">
        Your password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more
        characters.
      </div>
      <div *ngIf="controllPassword.errors?.minlength && controllPassword.touched">
        Your password must atleast fullfill the lenght of 8 characters.
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Confirm Password</label>
      <div class="col-10">
        <input required minlength="8" validateEqual="pwd" class="form-control" name="confirmPwd"
          #controllConfirmPassword="ngModel" [ngModel]="user.password.confirmPwd" type="password" placeholder="MAx1785436ImIlIaN"
          id="confirmPwd">
      </div>
    </div>
    <div *ngIf="controllConfirmPassword.invalid && controllConfirmPassword.touched" class="alert alert-danger">
      <div *ngIf="controllConfirmPassword.errors?.required">
        The Password field can't be blank.
      </div>
      <div *ngIf="controllConfirmPassword.errors?.minlength && controllConfirmPassword.touched">
        Your password must atleast fullfill the lenght of 8 characters.
      </div>
      <div *ngIf="controllConfirmPassword.errors && controllConfirmPassword.touched">
        Password must match.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!signupFormControl.form.valid">Submit</button>
  </div>
</form>