.form-register-container{
    padding-top: 60px !important;
    padding-right: 200px;
    padding-left: 200px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-untouched[required]{
    border-left: 5px solid grey; /* green */
}
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }