<div class="form-register-container">
    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-10">
            <input class="form-control" name="username" [(ngModel)]="username" type="text" placeholder="Max_Mustermann"
                id="username">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-10">
            <input name="pwd" [(ngModel)]="pwd" class="form-control" type="password" placeholder="MAx1785436ImIlIaN" id="pwd">
        </div>
    </div>
    <button (click)="logIn()" class="btn btn-primary">Log In</button>
    <div> {{clickMessage}}</div>
</div>