<div style="text-align:center">
    <h1>
        Welcome to Nerdbay!
    </h1>
    <button class="btn btn-success" routerLink="/login">Login</button>
    <button class="btn btn-danger" routerLink="/registrieren">Register</button>
    <button  *ngIf="!auth.isAuthenticated()" class="btn btn-primary my-2 my-sm-0"(click)="auth.login()" type="button">Log In with 0Auth </button>
    <button *ngIf="auth.isAuthenticated()" class="btn btn-danger my-2 my-sm-0"(click)="auth.logout()" type="button">
      Log Out
    </button>
    <router-outlet></router-outlet>
</div>